# This is a basic workflow to help you get started with Actions

name: deploy-docs-website

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
#   pull_request:
#     branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - name: install nodejs
        uses: actions/setup-node@v3.5.0
        with: 
          node-version: "16.X"
      - name: install deps
        run: npm install
      - name: build app
        run: npm run docs:build
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: docs/.vuepress/dist
          github_token: ${{ secrets.ACTION_TOKEN }}
          commit_message: 自动部署 # 5.部署时的 git 提交信息，自由填写

